*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Navbar */

.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	background-color: rgb(56, 46, 46);
	top: 0;
	z-index: 1;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}
.navbar ul li{
	font-family: century;
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all .5s ease;
}

/* HOME */

#home{
	display: flex;
	flex-direction: column;
	background-color: gray;
	height: 840px;
	justify-content: center;
	align-items: center;
	color: white;
}
#home img{
	width: 500px;
	height: 550px;
	border-radius: 50%;
}
#home::before{
	content: "";
	position: absolute; 
	top: 0;
	right: 0;
	/*background-image: url('background.jfif');*/
	height: 700px;
	width: 100%;
	z-index: -1;
	opacity: .8;
}
#main{
	display: flex;
	flex-direction: column;
	/*background-color: gray;*/
	height: 840px;
	align-items: center;
	top: 30%;
	right: 10%;
}
.heading{
	font-family: century;
	font-size: 3rem;
	text-align: center;
	margin: 40px 0px;
	color: white;
}

/* About me */

#about{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: gray;
	padding: 20px;
	margin-top: 2px;
}
#pic{
	display: flex;
}
#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
}
#intro p{
	color: white;
	font-size: 20px;
}

/* skills card */

#skills{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 2px;
	background-color: gray;
	z-index: -1; 
}
.card-container{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
}
.card{
	width: 250px;
	height: 300px;
	position: relative;
	background-color: #cecbd8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	padding: 20px;
	transition: all 0.3s ease-in;
}
.card:hover{
	background-color: rgb(184, 174, 174);
	color: rgb(247, 243, 243);
	box-shadow: 0px 0px;
}
.card-title{
	padding: 20px 10px;
	font-size: 1rem;
	text-transform: uppercase;
	text-shadow: 1px 0px 2px #262654;
}
.card-title:hover{
	transform: scale(1.4);
	transition: all 0.3s ease-in;

}
.card-text{
	line-height: 20px;
	font-size: 20px;
	text-align: center;
}

/* hobbies */

#hobbies{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: gray;
	padding-bottom: 20px;
	margin-top: 2px;
}

/* contact */

#contact{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: gray;
	padding: 20px;
	margin-top: 2px;
	flex-wrap: wrap;
}
.contact-in{
	width: 80%;
	margin: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe{
	width: 100%;
	height: 100%;
}
.contact-form{
	padding-left: 10px;
	width: 100%;
	height: auto;
	flex: 50%;
	text-align: center;
}
.contact-form h1{
	margin-bottom: 10px;
}
.contact-form-txt{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txtarea{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 35px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-btn{
	width: 100%;
	color: #faf3f3;
	border: none;
	border-radius: 40px;
	outline: none;
	text-transform: uppercase;
	background-color: #2e8fc7;
	cursor: pointer;
	font-size: 18px;
	padding: 15px;
}
.contact-form-btn:hover{
	color: #faf3f3;
	text-transform: uppercase;
	background-color: #062333;
	cursor: pointer;
	transition: all 0.3s linear;
}


/*  footer  */

#footer{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgb(22, 1, 1);
	padding-top: 30px;
	margin-top: 2px;
	place-items: center;
	height: 250px;
	flex-wrap: wrap;
}
.footer-about{
	color: #fff;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}
.socialicons{
	display: flex;
	justify-content: center;
	align-items: center;
}
.socialicons a{
	width: 100px;
	height: 100px;
	background-color: #f5f6fa;
	border-radius: 50px;
	text-align: center;
	line-height: 110px;
	margin: 10px;
	box-shadow: 1px 4px 2px 2px #888b99;
}
.socialicons a i{
	transition: all 0.3s linear;
}
.socialicons a:hover i{
	transform: scale(1.4);
}
.fa-instagram{
	color: #e84393;
}
.fa-linkedin{
	color: #0097e6;
}
.fa-github{
	color: #333;
}


