body {
    background-color: #212529;
}

/* navbar */
/* .navbar {
    top: 0;
    position: fixed;
} */

.contact {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(71, 196, 196);
    transition: all .5s ease-in-out;
}

.contact:hover {
    color: white;
    background-color: darkgray;
}

.navbar-nav li {
    padding: 5px;
}
.navbar-nav li a{
    font-size: 20px;
}

/* banner */
.banner {
    margin-top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

.title {
    width: 100%;
}

.download {
    background-color: rgb(71, 196, 196);
    transition: all .5s ease-in-out;
}

.download:hover {
    color: white;
    background-color: darkgray
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.title,
h2,
h3,
h4 {
    color: white;
    line-height: 35px;
}

hr {
    margin-left: 200px;
    width: 150px;
}


/* aboutMe */
.aboutContainer{
    border: 1px solid white;
}
.pageHeading h2{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutMe-body p{
    color: white;
    text-align: center;
    font-size: 20px;
}
hr{
    color: white;
}

/* Skills section */
.skills{
    border: 1px solid white; 
}
/* .skillHead h2{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
} */
.FlexCard{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
.card{
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 16rem;
    transition: all .4s ease-in-out;
}
.card:hover{
    color: white;
    background-color: rgb(133, 36, 36);
    box-shadow: 0 0 20px 0 rgba(180, 21, 21, 0.3)
}
.card-body{
    text-align: center;
}
.icons{
    text-align: center;
    font-size: 50px;
    color: black;
}
.icons:hover{
    color: rgb(241, 229, 229);
    transform: scale(1.4);
	transition: all 0.3s ease-in;
}

/* hobbies Section */
.hobbies{
   border: solid 1px white;
}
.hobbiesBody{
    display: flex;
}


/* contact me Section */
.contactMe{
    border: solid 1px white;
}
.contactMeForm label{
    color: white;
}


/* footer Section */
.footer{
    border: solid 1px white;
    margin-bottom: 30px;
}
.socialicons{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
}
.socialicons a{
    text-decoration: none;
    margin-left: 20px;
}
.fa-instagram{
	color: #e84393;
  }
  .fa-linkedin{
	color: #0097e6;
  }
  .fa-github{
	color: white
  }
  .footer-about{
	color: #fff;
	font-size: 20px;
	padding: 10px;
	text-align: center;
  }



/* medaiQuery */
@media only screen and (max-width: 766px) {
    .navbar-nav {
        align-items: center;
    }

    .contact {
        width: 90px;
        height: 40px;
        border-radius: none !important;
        align-items: center;
        font-size: 12px;
    }

    .title {
        z-index: 100000 !important;
        color: black;
    }

    .title,
    h2,
    h3,
    h4 {
        color: rgb(175, 165, 16);
        line-height: 30px;
    }

    .image {
        width: 300px;
        height: 350px;
        border-radius: 50%;
    }
    .img {
        width: 100%;
        border-radius: none;
        margin-top: -350px;
    }

    hr {
        display: none;
        z-index: -1;
    }
    .FlexCard{
        display: inline-block;
        flex-direction: column;
        width: 100%;
    }
    .card{
        width: 100%;
        margin: 10px;
    }
    .hobbiesBody{
        display: inline-block;
        flex-direction: column;
        width: 100%;
    }
    /* contactMe */
    .submitButton{
        margin: 10px;
    }
}